.details {
       h2 {
              margin-top: 10px;
              font: {
                     size: 14px;
                     weight: bold;
              };
              color: #FF6600;
       }
       
       p {
              font-size: 13.7px;
       }
}