.offers_4G {
       padding: 20px;
       transform: translateY(-50%);
       background: #fff;
       border: 1px solid rgba(153, 153, 153, 0.205);
       box-shadow: 2px 2px 20px #0005;
       
       .rightSide {
              border-left: 1px solid #DDD2D2;
              padding-left: 60px;

              h2 {
                     color: #FF6600;
              }
              
              ul {
                     list-style: circle;
                     padding-right: 70px;
       
                     li {
                            font-size: 14px;
                     }
              }

              @media (max-width: 1024px) {
                     border-left: none;
              }
       }

}

.title {
       margin-bottom: 30px;

       .info {
              border: 3px solid #FF6600;
              background: red;
       }

       // h2 {
       //        // border-inline-start: 3px solid #FF6600;
       //        // padding-inline-start: 13px;
       //        padding: 7px 13px;
       //        font-size: 17px;
       // }

       // a {
       //        display: inline-block;
       //        // border-inline-end: 3px solid #FF6600;
       //        padding: 7px 13px;

       // }
}

.myOrange {
       margin-top: 160px;
       background: linear-gradient(rgba(255, 255, 255, 0.801),rgba(255, 255, 255, 0.774)), url(../../public/images/background.png) no-repeat;
       background-size: contain;
       background-position: start;

       h2 {
              font: {
                     size: 32px;
                     weight: bold;
              };
              color: #FF6600;
       }
}