
.navigation {
       font-size: 14px;
       * {
              transition: .5s;
       }

.leftSide {
       .logo {
              .egy {
                     font-family: var(--English);
                     font-weight: 200;
                     @media (max-width: 320px) {
                            display: none;
                            
                     }

                     .strong {
                            font-weight: 500;
                     }
              }
       }

       .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 500;
       }

       .important_links { 
              a span {
                     @media (max-width: 1142px) {
                            display: none;
                     }
              }
       }
}

.rightSide {
       .link {
              font-weight: 500;
       }

       menu {
              transition: 0.5s;
       }

       &:hover .lineHover {
              transform: scaleX(1);
       }

       .lineHover{
              position: absolute;
              height: 3px;
              bottom: -10px;
              background: #FF6600;
              width: 100%;
              transition: all 0.3s ease-in-out;
              transform: scaleX(0);
       }

       .login {
              background: #181818;
              padding: 10px 20px;
              color: #fff;
              border-radius: 10px;
              transition: var(--transition);

              .span {
                     border-right: 1px solid #fff5;
                     padding-right: 15px;

                     @media (max-width: 1024px) {
                            border-right: none;
                            padding-right: 0;
                     }

                     @media (max-width: 768px) {
                            font-size: 11px;
                     }
              }
       }
}
}
